:root {
    --base-color: rgb(131, 198,231);
    --label-color: rgb(139, 153, 173);
    --hint-color: rgb(207, 215, 230);
    --headline-color: rgb(125, 125, 142);
    --text-color: rgb(63, 63, 68);
    
    --navigation-bar-height: 50px;
    --navigation-bar-background: transparent;
}
