@import './styles/vars.postcss';

.App {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: var(--navigation-bar-height);
    height: 100%;

    .app__view {
        flex: 1 1 auto;
        align-self: auto;
        padding: 0 20px;
    }
}
