.signin-view {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.signin-box {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
