.signin__view {
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.signin__box {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    box-sizing: border-box;
    padding: 1rem;
    max-width: 400px;
    min-width: 320px;
    width: 50%;
}

.signin__box h1 {
    text-align: center;
}    
